NEXT_PUBLIC_SITE_URL=https://card.upcytech.com
NEXT_PUBLIC_UPCYTECH_INSTAGRAM=

UPCY_CONTACT_CAGATAY_PHONE=
UPCY_CONTACT_CAGATAY_EMAIL=
UPCY_CONTACT_CAGATAY_INSTAGRAM=

UPCY_CONTACT_ENES_PHONE=
UPCY_CONTACT_ENES_EMAIL=
UPCY_CONTACT_ENES_LINKEDIN=
UPCY_CONTACT_ENES_INSTAGRAM=

UPCY_CONTACT_HULUSI_PHONE=
UPCY_CONTACT_HULUSI_EMAIL=
UPCY_CONTACT_HULUSI_INSTAGRAM=

UPCY_CONTACT_HARUN_PHONE=
UPCY_CONTACT_HARUN_EMAIL=
UPCY_CONTACT_HARUN_LINKEDIN=
UPCY_CONTACT_HARUN_INSTAGRAM=

UPCY_CONTACT_HAMZA_PHONE=
UPCY_CONTACT_HAMZA_EMAIL=
UPCY_CONTACT_HAMZA_INSTAGRAM=
